{% extends "base.html" %}
{% block content %}

<form action="/activities/{{activity.id}}" method="POST">
    <div>
        <label for="activity_type">Activity Type:</label>
        <input type="text" id="activity_type" name="activity_type" value={{activity.activity_type}} required autofocus>
    </div>
    <div>
        <label for="duration">Duration:</label>
        <input type="number" id="duration" name="duration" required>
    </div>
    <div>
        <label for="difficulty">Choose Defficulty:</label>
        <select id="difficulty" name="difficulty">
            <option value="beginner">Beginner</option>
            <option value="intense">Intense</option>
        </select>
    </div>
    <div>
        <label for="gym">Gym:</label>
        <select id="gym" name="gym">
            {% for gym in all_gyms %}
            <option value="{{ gym.id }}">{{ gym.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Update Activity</button>
</form>


{% endblock %}