{% extends "base.html" %}
{% block content %}

<h2>Activities</h2>

{% for activity in activities %}

<section>
    <p>{{ activity.gym.name }}</p>
    <p>{{ activity.activity_type }}</p>
    <p>{{ activity.duration }}</p>
    <p>{{ activity.difficulty }}</p>
    <a href="/activities/{{activity.id}}/edit">Edit</a>
    <form action="/activities/{{activity.id}}/delete" method="POST">
        <input type="submit" value="delete">
    </form>
</section>
</section>

{% endfor %}

{% endblock content %}